#content {
    overflow: auto;
    width: 100%;
    height: auto;
    margin-bottom: var(--footer_heigth);
}

.loading {
    min-height: calc(100vh - var(--footer_heigth));
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    z-index: 999999;
    position: fixed;
    left: 0;
    bottom: 0;
    height: var(--footer_heigth);
    width: 100%;
    background-color: var(--first_color);
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


@media (max-width: 768px) {
 
}