section {
    width: 100%;
    min-height: calc(99vh - var(--footer_heigth));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

