<section>

    <header *ngIf="categories && positions && !loading">

        <mat-form-field>
            <mat-label>Категория</mat-label>
            <mat-select [(ngModel)]="category" name="category" (selectionChange)="clear()">
                <mat-option class="mat-element" *ngFor="let cat of categories" [value]="cat._id">
                    <b class="mat-element">{{ cat.name }}</b>
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="category">
            <mat-label>Позиция</mat-label>
            <mat-select class="mat-element" [(ngModel)]="position" (selectionChange)="quantity = undefined" name="position">
                <ng-container *ngFor="let pos of positions">
                    <mat-option class="mat-element" *ngIf="pos.category._id === category" [value]="pos">
                        <b class="mat-element">{{ pos.name }}</b>
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="position">
            <mat-label>Количество</mat-label>
            <input matInput type="number" [(ngModel)]="quantity">
        </mat-form-field>

        <button *ngIf="position && quantity" mat-raised-button color="accent" class="mat-element" [disabled]="pennding" (click)="updateStorage()">Обновить склад</button>

    </header>
   
</section>