<section>
    <header>
        <b>{{currentUrl}}</b>
    </header>
    <header>

        <mat-icon 
        aria-hidden="false" 
        aria-label="Аккаунт" 
        fontIcon="account_circle">
        </mat-icon>
        &nbsp;

        <b>{{authService.user.name}}</b>

        &nbsp;
        <mat-icon 
        (click)="authService.logout()"
        class="pointer add-icon"
        aria-hidden="false" 
        aria-label="Выйти" 
        fontIcon="logout">
        </mat-icon>

    </header>
    <span id="update-container">
        <mat-icon 
        (click)="restart_alt()"
        class="pointer add-icon"
        aria-hidden="false" 
        aria-label="Перезагрузить" 
        fontIcon="restart_alt">
        </mat-icon>
    </span>
    <div id="server" *ngIf="settingsService.server">
        <b>Сервер для печати: {{settingsService.server}} | </b>
        <ng-container *ngIf="server">
            &nbsp;
            <b class="active">{{server}}</b>
        </ng-container>
        <ng-container *ngIf="server == false">
            &nbsp;
            <b class="active">Не в сети</b>
        </ng-container>
        &nbsp;
        <button mat-raised-button color="primary" (click)="checkServer()">Проверить</button>
    </div>
    <h1 *ngIf="!settingsService.server">Сервер для печати не установлен!</h1>
   
</section>