section {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}

#update-container {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid white;
}

#server-container {
    width: 100%;
    min-height: 50px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}

.server-input {
    min-width: 205px;
    font-size: 14px;
}

#server-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.printer-container {
    width: 100%;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}

h3 {
    text-decoration-line: underline;
}

.servers {
    border-bottom: 1px solid var(--select_color);
}



@media (max-width: 768px) {


    #server-container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .server-input {
        min-width: 90%;
        font-size: 14px;
    }

    #server-button-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .printer-container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .printer-button {
        margin-top: 15px;
    }
    

}