/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
:root {
    --select_color: #69f0ae;
    --first_color: #303030;
    --footer_heigth: 60px;
}

html, body { 
    height: 100%; 
    background-color: var(--first_color);
}

body { 
    position: relative;
    margin: 0; 
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

ul, li, a{
    text-decoration-line: none;
    color: white;
}

.add-icon:hover {
    color: var(--select_color);
}

.active {
    color: var(--select_color);
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.pointer {
    cursor: pointer;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {

    mat-form-field, mat-label, mat-select, mat-option, input, mat-checkbox, button {
        font-size: 10px;
    }

    .mat-element {
        font-size: 10px;
    }

    h1 {
        font-size: 12px;
    }
}




